<script type="text/javascript">
<% if logged_in? %>
  window.currentUser = <%= render(
    "api/users/user.json.jbuilder",
    user: current_user
  ).html_safe %>
<% end %>
window.photo1 = "<%= image_url('photo-1.jpeg') %>"
window.photo2 = "<%= image_url('photo-2.jpeg') %>"
window.photo3 = "<%= image_url('photo-3.jpeg') %>"
window.photo4 = "<%= image_url('photo-4.jpeg') %>"
window.photo5 = "<%= image_url('photo-5.jpeg') %>"
window.photo6 = "<%= image_url('photo-6.jpeg') %>"
window.photo7 = "<%= image_url('sunset.jpg') %>"
</script>

<main id="root"></main>
